@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap");

:root {
  font-family: "Roboto Mono", monospace;
}

body,
#root {
  height: 100vh;
  overflow: hidden;
}
