.chat {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: .5rem;
  padding: .5rem;
  height: 100%; /* change to magic */
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 1rem;
}

.chat::-webkit-scrollbar {
  display: none;
}

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: .25rem 1.5rem;
  gap: 1ch;
  width: fit-content;
  color: white;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 2rem;
  filter:
    drop-shadow(0 0 0.05rem black)
    drop-shadow(0 0 0.05rem black)
    drop-shadow(0 0 0.05rem black);
  border-radius: .1rem;

  > img {
    position: absolute;
    top: 0;
    left: 1ch;
    width: 1rem;
    height: 1rem;
  }

  & :global(.content) {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    align-items: center;

    img {
      aspect-ratio: 1;
      width: 2rem;
      border-radius: .25rem;
    }
  }
}