.chat {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
  height: 100%; /* change to magic */
  // overflow-y: scroll;
  scrollbar-width: none;
}

.message {
  padding: .25rem 1.5rem;
  color: black;
  border-radius: .1rem;
}